# SPDX-FileCopyrightText: 2024-2025 Alexey Illarionov and the at-released-tempfolder project contributors
# SPDX-License-Identifier: Apache-2.0

# Default ignored files
/*
!/.gitignore
!/IntelliLang.xml
!/codeInsightSettings.xml
!/copyright
!/detekt.xml
!/dictionaries
!/jsonSchemas.xml
